body{
    background-color:rgb(220, 220, 220);
}

h1.heading{
    text-decoration: underline;
    text-transform: capitalize;
    text-align:center;
    font-family: 'Times New Roman', Times, serif;
}
